/* Write your CSS here */
button {
  background-color: transparent;
  border: none;
  color: #7b8794;
}

li {
  background-color: transparent;
}

.active-tab {
  color: #2563eb;
  border-bottom: 1px solid #2563eb;
}
