/* Write your CSS here */
.appContainer {
  background-color: #ffffff;
  border-radius: 20px;
  font-family: 'Bree Serif ';
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 120px;
  height: 120px;
}
.appImage {
  height: 50px;
  width: 50px;
}
p {
  color: #1e293b;
}
